{{ define "main" }}
{{ "<!-- Hexagon Stylesheet -->" | safeHTML }}
{{ $hexagons := resources.Get "css/hexagon.css" | minify }}
<link rel="stylesheet" href="{{ $hexagons.Permalink | relURL}}">

{{ "<!-- Index -->" | safeHTML }}
{{ $index := resources.Get "css/index.css" | minify }}
<link rel="stylesheet" href="{{ $index.Permalink | relURL}}">
<section>
    {{ if .Site.Data.homepage.banner.image }}
    <div class="uk-container">
        <div class="uk-flex-center" uk-grid>
            <div class="uk-width-1-2 uk-width-1-3@s">
                <img src="{{ .Site.Data.homepage.banner.image }}" alt="author">
            </div>
        </div>
    </div>
    {{ end }}
    <div class="uk-container uk-margin-large-top uk-margin-xlarge-bottom">

        <h1 class="uk-heading-large">{{ .Site.Data.homepage.banner.title | safeHTML }}</h1>
    </div>


</section>

<div class="uk-text-center uk-margin-xlarge-bottom uk-margin-xlarge-top">
    <ul id="links" class="icons">
        {{ range .Site.Languages -}}
        {{ if ne .LanguageName $.Site.Language.LanguageName }}
        <li><a href="/{{ .Lang }}">{{ .LanguageName }}</a></li>
        {{ end }}
        {{ end }}
        {{ if .Site.Data.homepage.social.github }}
        <li><a href="https://github.com/{{ .Site.Data.homepage.social.github }}" target="_blank"> <img
                    class="contain" src="https://cdn.svgporn.com/logos/github-icon.svg" alt="GitHub" loading="lazy"> </a></li>
        {{ end }}
        {{ if .Site.Data.homepage.social.linkedin }}
        <li><a href="https://www.linkedin.com/in/{{ .Site.Data.homepage.social.linkedin }}" target="_blank">
            <img class="contain" src="https://cdn.svgporn.com/logos/linkedin-icon.svg" alt="LinkedIn" loading="lazy"> </a></li>
        {{ end }}
        {{ if .Site.Data.homepage.social.stackoverflow }}
        <li><a href="https://stackoverflow.com/users/{{ .Site.Data.homepage.social.stackoverflow }}" target="_blank">
            <img class="contain" src="https://cdn.svgporn.com/logos/stackoverflow-icon.svg" alt="StackOverflow" loading="lazy"> </a></li>
        {{ end }}
        {{ if .Site.Data.homepage.social.mastodon }}
        <li><a href="{{ .Site.Data.homepage.social.mastodon }}" target="_blank">
            <img class="contain" src="https://cdn.svgporn.com/logos/mastodon-icon.svg" alt="Mastodon" loading="lazy"> </a></li>
        {{ end }}
        {{ if .Site.Data.homepage.social.email }}
        <li><a href="mailto:{{ .Site.Data.homepage.social.email }}" target="_blank" > <img
                    class="contain" src="https://cdn.svgporn.com/logos/google-gmail.svg" alt="Gmail" loading="lazy"></a></li>
        {{ end }}
        {{ if .Site.Data.homepage.social.telegram }}
        <li><a href="https://t.me/{{ .Site.Data.homepage.social.telegram }}" target="_blank"> <img
                    class="contain" src="https://cdn.svgporn.com/logos/telegram.svg" alt="Telegram" loading="lazy"></a></li>
        {{ end }}
        {{ if .Site.Data.homepage.social.whatsapp }}
        <li><a href="https://wa.link/{{ .Site.Data.homepage.social.whatsapp}}" target="_blank"> <img
                    class="contain" src="https://cdn.svgporn.com/logos/whatsapp-icon.svg" alt="Whatsapp" loading="lazy"></a></li>
        {{ end }}
        {{ if .Site.Data.homepage.social.facebook }}
        <li><a href="https://www.facebook.com/{{ .Site.Data.homepage.social.facebook }}" target="_blank"> <img
                    class="contain" src="https://cdn.svgporn.com/logos/facebook.svg" alt="Facebook" loading="lazy"></a></li>
        {{ end }}
        {{ if .Site.Data.homepage.social.instagram }}
        <li><a href="https://instagram.com/{{ .Site.Data.homepage.social.instagram }}" target="_blank"> <img
                    class="contain" src="https://cdn.svgporn.com/logos/instagram-icon.svg" alt="Instagram" loading="lazy"></a></li>
        {{ end }}
    </ul>


</div>

{{ if .Site.Data.homepage.about.enable }}

<section class="uk-margin-large-top">
    <div class="uk-container">
        <div class="uk-text-center">
            {{ with .Site.Data.homepage.about }}
            <p class="uk-text-lead">{{.content | markdownify}}</p>
            {{ with .button }}
            <a class="uk-button uk-button-text" href="{{.URL| absURL}}">{{.btnText}}</a>
            {{end}}
            {{end}}
        </div>
    </div>

</section>
{{ end }}

{{ if .Site.Data.homepage.projects.enable }}
<section class="uk-margin-large-bottom uk-margin-large-top">
    <div class="uk-container">
        <h1 class="uk-heading-line  uk-heading-medium"><span>Projects</span></h1>
        {{ range .Site.Data.homepage.projects.item }}
        <div>
        <h2 class="uk-text-center uk-text-bold uk-margin-large-top"> {{.title}} </h2>
        <div class="uk-flex uk-flex-center">
        <img src="{{.image}}" class="uk-width-medium uk-width-large@s uk-height-large contain" >
        </div>
        <p class="uk-text-center">{{.description}}</p>
        <div class="uk-flex uk-flex-center">
            <div uk-grid>
                {{ range .tools}}
            <div>
                <img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/{{.}}.svg" />
            </div>
            {{end}}
            </div>
        </div>
        <div class="uk-flex uk-flex-center uk-margin-medium-top">
        <a href="{{.link}}" class="uk-text-center">Find out more</a>
        </div>
        </div>
        {{end}}

</section>
{{ end }}

{{ if .Site.Data.homepage.skill.enable }}
{{ range .Site.Data.homepage.skill.item }}
<div id="modal_{{cond (isset . "titlealt") .titlealt (replaceRE "\\W" "_" .title) }}" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">{{.title}}</h2>
        </div>
        <p>{{.description | safeHTML}}</p>
    </div>
</div>
{{ end }}
<section class="uk-margin-large-top uk-margin-large-bottom">
    <div class="uk-container">
        <h1 class="uk-heading-line uk-text-center uk-heading-medium"><span>Skills</span></h1>

        <p class="uk-text-center uk-text-lead"><i>Click the images below to find out more</i></p>
        <div class="uk-child-width-1-6@l uk-child-width-1-3@m uk-child-width-1-3@s uk-child-width-1-2 uk-text-center uk-flex-center"
            uk-grid>
            {{ range .Site.Data.homepage.skill.item }}
            <div class="imagemargin">
                <img class="contain skills" src="{{.logo}}" alt="{{.company}}" loading="lazy" style="cursor: pointer"
                    uk-toggle="target: #modal_{{cond (isset . "titlealt") .titlealt (replaceRE "\\W" "_" .title) }}">
                <h4>{{.title }}</h4>
            </div>
            {{ end }}
        </div>

    </div>

</section>
{{ end }}

{{ if .Site.Data.homepage.certifications.enable }}
<section class="uk-margin-large-top uk-margin-medium-bottom">
    <div class="uk-container">
        <h1 class="uk-heading-line  uk-heading-medium"><span>Certifications</span></h1>

        <p class="uk-text-center uk-text-lead"><i>Click the images below to view the proof</i></p>
        <div class="uk-child-width-1-6@l uk-child-width-1-3@m uk-child-width-1-3@s uk-child-width-1-2 uk-text-center uk-flex-center"
             uk-grid >
            {{ range .Site.Data.homepage.certifications.item }}
            <a href="{{.url}}" class="imagemargin">
                <img class="contain certs" src="{{.image}}" alt="{{.title}}" loading="lazy" style="cursor: pointer">
                {{.title}}
            </a>

            {{ end }}
        </div>

    </div>

</section>
{{ end }}

{{ if .Site.Data.homepage.experience.enable }}
<section class="uk-margin-large-bottom">
    <div class="uk-container">
        <h1 class="uk-heading-line  uk-heading-medium"><span>Experience</span></h1>

        <div class="uk-child-width-1-4@m uk-child-width-1-2  uk-text-center uk-flex-center" uk-grid
            style="padding-left: 20px; padding-right: 20px">

            {{ range .Site.Data.homepage.experience.item }}
            <div>
                <div class="uk-card uk-card-default uk-height-large">
                    <div class="uk-card-media-top">
                        <img class="contain experience" src="{{.logo}}" alt="" style="padding: 20px" loading="lazy">
                    </div>
                    <div class="uk-card-body" style="padding: initial">
                        <div style="height: 5em">
                            <h3 class="uk-card-title uk-heading-small">{{.title}}</h3>
                        </div>
                        <p style="height: 4em">{{.company}}</p>
                        <p>{{.duration}}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
</section>
{{ end }}


{{ if .Site.Data.homepage.publications.enable }}
<section class="uk-margin-xlarge-bottom">
    <div class="uk-container">
        <h1 class="uk-heading-line uk-heading-medium  uk-margin-large-bottom"><span>Publications</span></h1>
            {{ range .Site.Data.homepage.publications.item }}
            <div class="uk-margin-large-bottom">
              <div class="uk-container">
                <div class="uk-flex-center" uk-grid uk-height-match=".publication">
                  <div class="uk-width-1-2 uk-width-1-4@s publication">
                      <img class="contain" src="{{.image}}" alt="Research Image">
                  </div>
                  <div class="uk-width-expand@m publication">
                      <h3 class="uk-card-title">{{.title}}</h3>
                      {{ if .academy }}
                      <p class="uk-text-bold">{{.academy}}</p>
                      {{ end }}
                      <p>
                      {{.description | safeHTML}}
                      </p>
                      <p>
                        {{ if .pdf_link }}
                          <a class="uk-button uk-button-primary" href="{{.pdf_link}}">PDF</a>
                        {{ end }}
                        {{ if .code_link }}
                          <a class="uk-button uk-button-primary" href="{{.code_link}}">Code</a>
                        {{ end }}
                      </p>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            {{ end }}
</section>
{{ end }}
</section>
{{ end }}
